@media (min-width : 1000px) {
  // BIG
  :root {
    --section-padding: 0px 25vw;
    --bg-position: 100%;
    --brightness: 1;
  }
}
@media (max-width : 1000px) {
  // TABLET
 :root {
  --section-padding: 0px 10vw;
  --bg-position: 70%;
  --brightness: 1;
 }
}
@media (max-width : 600px) {
  // MOBILE
  :root {
    --section-padding: 0px 5vw;
    --bg-position: center;
    --brightness: 0.95;
  }
}
#home-root {
  background-image: url('../assets/pexels-burst-374890-min.jpg');
  background-size: 1800px;
  background-position: var(--bg-position);
  filter: grayscale(20%);
  filter: brightness(var(--brightness));
  z-index: 0;
  margin-top: -10vh;
  padding-top: 10vh;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: right;

  

  $black: rgb(27, 27, 27);

  section {
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    top: 15vh;
    height: min-content;
    color: $black;
  }

  #home-top {
    display: grid;
    grid: repeat(2, 1fr)/ 100px 1fr;
    gap: 1rem;
    white-space: nowrap;

    h1 {
      grid-column: 1/2;
      grid-row: 1/2;
      font-weight: 400;
      font-size: 3.5rem;
    }

    h1:last-child {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  #home-bottom {
    align-self: flex-start;
    font-size: 1.2rem;
    display: grid;
    grid: 1fr / 100px 1fr;
    gap: 1rem;
    position: relative;
    align-items: center;

    p{
      grid-column: 2/3;
      border-left: 2px solid $black;
      padding-left: 10px;
    }

    a {
      text-decoration: none;
      color: $black;
      width: min-content;
      font-weight: 600;
      
      padding: 0px 20px;
      font-size: 1.5rem;
      line-height: 300%;
      transition: 200ms;

      grid-column: 1/2;
      grid-row: 1/2;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  
}